.color {
    border: 1px solid rgb(0, 0, 0);
    display: inline-block;
    font-size: 0pt;
    height: 40px;
    margin: black 1px;
    width: 40px;
}

.pixel-board {
    height: 240px;
    margin-top: 50px;
    margin: auto;
    width: 240px;
}

.selected {
}

.pixel {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    display: inline-block;
    height: 40px;
    width: 40px;
}